name: Linux
on:
  push:
      branches: [ "master" ]
  pull_request:
      branches: [ "master" ]

jobs:
  build:
    uses: ./.github/workflows/nightly-build.yml
    with:
      os: "ubuntu-latest"
      c_compiler: "gcc-14"
      cpp_compiler: "g++-14"
