on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install build-essential git subversion cmake libx11-dev libxxf86vm-dev libxcursor-dev libxi-dev libxrandr-dev libxinerama-dev libglew-dev libjack-jackd2-dev libpulse-dev ninja-build

      - name: Setup OptiX Installers Repo. SSH key
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{secrets.OPTIX_INSTALLERS_REPO_SSH_KEY}}

      - name: Install OptiX
        run: |
          cd ~
          git clone git@github.com:iyadahmed/optix_installers.git
          chmod +x ./optix_installers/NVIDIA-OptiX-SDK-7.3.0-linux64-x86_64.sh
          mkdir optix
          ./optix_installers/NVIDIA-OptiX-SDK-7.3.0-linux64-x86_64.sh --skip-license --prefix="./optix"

      # TODO: checkout code that triggered the action instead
      - name: Clone Repository
        run: |
          mkdir ~/bforartistsrepo
          cd ~/bforartistsrepo
          git clone --depth=1 https://github.com/Bforartists/Bforartists

      - uses: actions/cache@v3
        id: cache
        with:
          path: ~/bforartistsrepo/lib
          key: ${{ runner.os }}

      - name: Download Pre-compiled Headers
        run: |
          mkdir -p ~/bforartistsrepo/lib
          cd ~/bforartistsrepo/lib
          svn checkout https://svn.blender.org/svnroot/bf-blender/trunk/lib/linux_centos7_x86_64

      - name: Install CUDA
        uses: Jimver/cuda-toolkit@v0.2.5
        id: cuda-toolkit
        with:
          cuda: "11.1.1"

      - name: Install HIP compiler (ROCm)
        run: |
          wget https://repo.radeon.com/amdgpu-install/22.10/ubuntu/focal/amdgpu-install_22.10.50100-1_all.deb
          sudo apt-get install ./amdgpu-install_22.10.50100-1_all.deb
          sudo amdgpu-install --usecase=rocm

      - name: Build Release
        run: |
          cd ~/bforartistsrepo/Bforartists
          make ninja release BUILD_CMAKE_ARGS=-DOPTIX_INCLUDE_DIR=~/optix/include

      - name: Create ZIP Package
        run: |
          cd /home/runner/bforartistsrepo/build_linux_release_release/
          cpack -G ZIP

      - name: Upload Build
        uses: actions/upload-artifact@v3
        with:
          path: /home/runner/bforartistsrepo/build_linux_release_release/*.zip

      # - name: Upload ZIP Package
      #   uses: softprops/action-gh-release@v1
      #   with:
      #     files: /home/runner/bforartistsrepo/build_linux_release_release/*.zip
