name: Windows

on:
  # push:
  #  branches: [ "work-sequencer" ]
  # schedule:
  #   - cron: 0 0 * * 1
  pull_request:
    branches: [ master ]

permissions: {}
jobs:
  build:
    runs-on: windows-latest
    env:
      buildfolder: ${{ github.workspace }}
      config : lite

    steps:
    - name: Create main folder
      run: |
        mkdir ~\bforartistsrepo
    - name: Svn lib
      run: |
        mkdir ~\bforartistsrepo\lib
        cd ~\bforartistsrepo\lib
        svn checkout https://svn.blender.org/svnroot/bf-blender/trunk/lib/win64_vc15/
    # - name: Cache
    #   env:
    #     cache-name: ${{ github.ref }}
    #   uses: actions/cache@v3
    #   with:
    #     path: ~/bforartistsrepo
    #     key: build-cache-${{ env.cache-name }}
      
    - name: Clone Repository
      # uses: actions/checkout@v3
      run: |
       cd ~\bforartistsrepo
       git clone -b work-sequencer https://github.com/zNightlord/Bforartists.git
    
    - name: Print make
      run: | 
        echo "${{ github.workspace }}\bforartistsrepo $config"
    - name: Make
      run: |
        cd ~\bforartistsrepo\Bforartists
        .\make.bat ninja release
    - name: Show dir
      run: |
        dir
        cd ~\bforartistsrepo
        dir


    - name: Upload Build
      uses: actions/upload-artifact@v2
      with:
        name: Bforartists-Release-${{ runner.os }}
        path: C:/Users/runneradmin/bforartistsrepo/bfa_build_windows*_x64_vc17*/bin
